<div class="custom-file">
    <input type="file"
           class="custom-file-input"
           id="{{ id }}"
           name="{{ id }}"
           {% if required %}required{% endif %}
    >
    <label class="custom-file-label" for="{{ id }}">{{ label }}</label>
</div>
