<div class="form-group form-check">
    <label for="{{ id }}">{{ label }}:</label>
    <input type="{% if type %}{{ type }}{% else %}text{% endif %}"
           class="form-control"
           placeholder="{{ label }}"
           name="{{ id }}"
           id="{{ id }}"
           {% if required %}required{% endif %}
           {% if pattern %}pattern="{{ pattern }}"{% endif %}
           {% if value %}value="{{ value }}"{% endif %}
    >
</div>
