<div style="display: flex; width: 100%">
    <div class="btn-group" role="group" style="margin: 0.5rem auto">
        {% for child in children %}
            {{ child }}
        {% endfor %}
    </div>
</div>
