<table class="table table-striped" id="{{ id }}">
    {% if head %}
        <thead>
        <tr>
            {% if numbered %}
                <th scope="col">#</th>
            {% endif %}
            {% for item in head %}
                <th scope="col">{{ item }}</th>
            {% endfor %}
        </tr>
        </thead>
    {% endif %}
    <tbody>
    {% for row in table %}
        <tr>
            {% if numbered %}
                <th scope="row">{{ loop.index }}</th>
            {% endif %}
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
