<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if bootstrap_info %}
        <link rel="stylesheet" href="{{ boostrap_info["css"] }}"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <script
                src="{{ boostrap_info["jquery"] }}"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous" defer></script>
        <script
                src="{{ boostrap_info["popper.js"] }}"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous" defer></script>
        <script src="{{ boostrap_info["js"] }}"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous" defer></script>
    {% else %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous" defer></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous" defer></script>
    {% endif %}
    <title>{% block title %}UI{% endblock %}</title>
    {% block style %}{% endblock %}
    <style>
        body {
            display: flex;
            min-height: 100vh;
        }

        @media (min-width: 45rem) {
            body {
                padding: 10vmin;
            }
        }

        .content-jumbo {
            padding: 2rem 1rem;
            background-color: #e9ecef;
            margin: auto;
            min-width: 30vw;
            min-height: 30vh;
        }

        @media (min-width: 30rem) {
            .content-jumbo {
                padding: 4rem 2rem;
                border-radius: 0.3rem;
            }
        }

        @media (max-width: 30rem) {
            .content-jumbo {
                width: 100vw;
                min-height: 100vh;
            }
        }

        .content {
            margin: auto;
            height: fit-content;
            width: fit-content;
        }
    </style>
</head>
<body>
<div class="content-jumbo flex-column">
    <div class="content">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error:</strong> {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        {% if warnings %}
            {% for warning in warnings %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Warning:</strong> {{ warning }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ success }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
