{% extends "base.html" %}
{% if title %}
    {% block title %}
        {{ title }}
    {% endblock %}
{% endif %}
{% block content %}
    {% if heading %}
        <h2 class="display-4 text-center">{{ heading }}</h2>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% for element in form %}
            {{ element }}
        {% endfor %}
    </form>
{% endblock %}
