{% extends "base.html" %}
{% block title %}
Not Logged in
{% endblock %}
{% block content %}
<h2 class="display-4 text-center" style="color: red">Error: Not logged in</h2>
<div style="display: flex; width: 100%">
    <div class="btn-group" role="group" style="margin: 0.5rem auto">
        <button class="btn btn-primary btn-lg" id="back" type="button" onclick="history.back()">Back</button>
        <a class="btn btn-primary btn-lg" id="login" href="{{ root }}/login">Login</a>
    </div>
</div>
{% endblock %}
